/* Set globals */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* Home section */
.logo {
  width: 80px;
  height: 50px;
}

.jumbotron {
  width: 100%;
  height: 100vh;
  background-image: url(../img/dark-grunge-style-scratched-metal-surface_1048-12951.jpg);
}

.text-content {
  width: 50%;
  margin-top: 10rem;
  padding-left: 15px;
  z-index: 9999;
}

.text-content h1 {
  color: white;
}

.text-content h2 {
  color: white;
}

.cover-content {
  width: 50%;
  margin-top: 1rem;
  z-index: 9999;
}

.cover-content img {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

/* About section */

.about {
  width: 100%;
}

.about h1 {
  text-transform: uppercase;
  text-align: center;
}

.about hr {
  width: 15%;
  border: black solid 2px;
  margin-left: auto;
  margin-right: auto;
}

.about img {
  display: block;
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item .testimonial img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item h5 {
  text-align: center;
}

.carousel-item p {
  text-align: center;
}

/* Skills Section */
.skills {
  width: 100%;
  background-image: url(../img/thick-smoke-on-black-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
}

.skills h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3rem;
}

.skills hr {
  width: 15%;
  border: white solid 2px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 18rem;
  height: 20rem;
}

.card img {
  width: 100%;
  height: 40vh;
  padding-top: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  gap: 25px;
}

.projects {
  width: 100%;
  background-image: url(../img/screen-0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
}

.projects h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 2rem;
  z-index: 9999;
}

.projects hr {
  width: 15%;
  border: white solid 2px;
  margin-left: auto;
  margin-right: auto;
}

.projects .card {
  width: 100%;
  height: 65vh;
}

#portfolio {
  padding-top: 1rem;
  padding-bottom: 1rem;
  animation: slideMe 1.5s ease-in-out;
}
    
/* Center align the text */
#portfolio {
text-align: center !important;
}

/*animations*/
@keyframes slideMe{
  0%{
      transform: skewX(53deg) translateX(-500px);
      opacity: 0;
  }
  60%{
      transform: translateX(0px);
  }
  62%{
      transform: skewX(0deg) translateX(30px);
  }
  70%{
      transform: skew(-20deg);
      opacity: 1;
  }
  80%{
      transform: skew(0deg) translate(0px);
  }
  90%{
      transform: skew(-5deg);
  }
  100%{
      transform: skew(0deg);
  }
}
  

.my-footer {
  width: 100%;
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 767px) {
  .jumbotron {
    flex-direction: column;
  }

  .cover-content {
    position: relative;
    bottom: 70vh;
    width: 100%;
  }

  .text-content {
    position: relative;
    top: 12vh;
    align-self: center;
  }

  .text-content h1{ 
    display: none;
  }

  .text-content h2{ 
    display: none;
  }

  .mobile-hide {
    display: none;
  }
}