/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jumbotron {
  width: 100%;
  height: 92.5vh;
  background-image: url(../img/james-harrison-vpOeXr5wmR4-unsplash..png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.text {
  width: 50%;
  margin-top: 30px;
  
}

.social {
  width: 50%;
}

.social a {
  margin-right: 10px;
  color: black;
}

.logo img {
  width: 500px;
  height: 420px;
}

#about hr {
  width: 15%;
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
}

.profile img {
  width: 80%;
  border-radius: 50%;
}

.profile button {
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .logo img {
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .social {
    width: 100%;
  }
}
